#include ".colr/subtle"
URxvt.geometry: 92x10
URxvt.font: -benis-lemon-medium-*-normal-*-*-*-75-75-m-*-iso8859-*
st.font: -benis-lemon-medium-*-normal-*-*-*-75-75-m-*-iso8859-*
URxvt.boldFont: -benis-lemon-medium-*-normal-*-*-*-75-75-m-*-iso8859-*
URxvt.internalBorder: 0
URxvt.scrollBar: none
URxvt.letterSpace: 0
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

rofi.font: artwiz lemon 8
rofi.color-enabled: true
rofi.color-window: bg, blu, blu
rofi.color-normal: bg, fg, bg, blu, bg
rofi.color-active: blu, bg, blu, blu, bg

! Colors
*background:   bg
*foreground:   fg

*color0:      blk
*color8:      blk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht
